@{
    ViewBag.Title = "CCO Eletro - Produtos";
    ViewData["JsLink"] = "/Scripts/Views/produto.js";
}

<div ng-controller="ProdutoController" class="conteudo-dashboard">
    <br />
    <div class="row" ng-show="enviado">
        <div class="alert alert-success" role="alert">
            <p>{{msgSucesso}}</p>
        </div>
    </div>
    <div class="row" ng-show="erro">
        <div class="alert alert-danger" role="alert">
            <p>Ocorreu um erro inesperado. Tente novamente.</p>
        </div>
    </div>
    <div class="row" ng-show="myForm.$invalid && submited">
        <div class="alert alert-danger" role="alert">
            <p class="error-span" ng-show="myForm.nome.$invalid && (!myForm.nome.$pristine || submited)">Preencha o nome.</p>
            <p class="error-span" ng-show="myForm.descricao.$invalid && (!myForm.descricao.$pristine || submited)">Preencha a descrição.</p>
            <p class="error-span" ng-show="myForm.quantidade.$invalid && (!myForm.quantidade.$pristine || submited)">Preencha uma quantidade.</p>
            <p class="error-span" ng-show="myForm.dinheiro.$invalid && (!myForm.dinheiro.$pristine || submited)">Preencha um preço.</p>
            <p class="error-span" ng-show="myForm.fornecedor.$invalid && (!myForm.fornecedor.$pristine || submited)">Escolha um fornecedor.</p>
        </div>
    </div>
    <form name="myForm" ng-submit="adicionarProduto()" novalidate>
        <div class="form-add-edit">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group" ng-class="{ 'has-error' : myForm.nome.$invalid && (!myForm.nome.$pristine || submited)}">
                        <span class="input-group-addon">Nome</span>
                        <input type="text" name="nome" ng-model="Produto.Nome" placeholder="Nome do Produto" class="form-control nome-validate" required />
                        <div class="nome input-group-addon campo-erro" style="display:none;"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group" ng-class="{ 'has-error' : myForm.descricao.$invalid && (!myForm.descricao.$pristine || submited)}">
                        <span class="input-group-addon">Descrição</span>
                        <input type="text" name="descricao" ng-model="Produto.Descricao" value="" placeholder="Produto X" class="form-control descricao-validate" required />
                        <div class="descricao input-group-addon campo-erro" style="display:none;"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group" ng-class="{ 'has-error' : myForm.quantidade.$invalid && (!myForm.quantidade.$pristine || submited)}">
                        <span class="input-group-addon">Quantidade</span>
                        <input type="number" name="quantidade" ng-model="Produto.QuantidadeEstoque" value="" placeholder="99" class="form-control quantidade-validate" required />
                        <div class="quantidade input-group-addon campo-erro" style="display:none;"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group" ng-class="{ 'has-error' : myForm.dinheiro.$invalid && (!myForm.dinheiro.$pristine || submited)}">
                        <span class="input-group-addon">Preço R$</span>
                        <input type="text" name="dinheiro" ng-model="Produto.PrecoVenda" id="dinheiro" class="form-control dinheiro-mascara preco-validate" placeholder="99,90" value="0,00" required />
                        <div class="preco dinheiro input-group-addon campo-erro" style="display:none;"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group" ng-class="{ 'has-error' : myForm.fornecedor.$invalid && (!myForm.fornecedor.$pristine || submited)}">
                        <span class="input-group-addon">Fornecedor</span>
                        <select name="fornecedor" ng-model="Produto.Fornecedor.Id" class="form-control fornecedor-validate" required>
                            <option value="" selected="selected">Selecione...</option>
                            <option ng-repeat="Fornecedor in Fornecedores" ng-selected="Produto.Fornecedor.Id == Fornecedor.Id" value="{{Fornecedor.Id}}">{{Fornecedor.Nome}}</option>
                        </select>
                        <div class="fornecedor input-group-addon campo-erro" style="display:none;"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                </div>
                <div class="col-md-3">
                    <button type="button" class="form-control btn btn-danger" ng-click="cancelarAlteracao()" ng-show="!OpSalvar">Cancelar Alteração</button>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="form-control btn btn-primary" ng-click="checkFields()" ng-show="OpSalvar">Salvar</button>
                    <button type="submit" class="form-control btn btn-primary" ng-click="checkFields()" ng-show="!OpSalvar">Alterar</button>
                </div>
            </div>
        </div>
    </form>
    <div class="table-responsive">
        <table class="table lista table-bordered">
            <thead class="thead">
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr ng-repeat="p in (Produtos | orderBy:'Nome':true).slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))" class="text-center">
                    <td>{{p.Nome}}</td>
                    <td>{{p.Descricao}}</td>
                    <td>{{p.QuantidadeEstoque}}</td>
                    <td>{{p.PrecoVenda}}</td>
                    <!--<td><span ng-click="selecionarProduto(p.Id)" class="glyphicon glyphicon-pencil action-icon" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Editar Fornecedor"></span></td>-->
                    <td>
                        <a href="#" ng-click="selecionarProduto(p.Id)"><i class="fa fa-edit" aria-hidden="true"></i></a>
                        <a href="#" ng-click="removerProduto(p.Id)"><i class="fa fa-close" aria-hidden="true"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <span id="no-result">Sua pesquisa não obteve resultados</span>
    </div>

    <br />

    <div class="col-lg-12 text-center">
        <nav>
            <uib-pagination total-items="totalItems" max-size="10" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></uib-pagination>
        </nav>
    </div>
</div>