@{
    ViewBag.Title = "CCO Eletro - Produtos";
}

<div id="produtos">
    <div class="produtos-dashboard">
        <table class="table lista">
            <thead class="thead">
                <tr>
                    <td>Nome</td>
                    <td>Quantidade</td>
                    <td>Preço</td>
                    <td>Ação</td>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr>
                    <td>Celular</td>
                    <td>20</td>
                    <td>R$900,00</td>
                    <td><a href="#" class="btn-add-edit" data-tipo="edit-produto"><i class="fa fa-edit" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-close" aria-hidden="true"></i></a></td>
                </tr>
                <tr>
                    <td>Televisão</td>
                    <td>15</td>
                    <td>R$1200,00</td>
                    <td><a href="#" class="btn-add-edit" data-tipo="edit-produto"><i class="fa fa-edit" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-close" aria-hidden="true"></i></a></td>
                </tr>
                <tr>
                    <td>Rádio</td>
                    <td>10</td>
                    <td>R$700,00</td>
                    <td><a href="#" class="btn-add-edit" data-tipo="edit-produto"><i class="fa fa-edit" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-close" aria-hidden="true"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>