@{
    ViewBag.Title = "CCO Eletro - Produtos";
}

<form action="#" method="post" id="form-novo" class="form">
    <div class="form-add-edit">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">Nome</span>
                    <input type="text" name="nome" ng-model="Produto.Nome" placeholder="Nome do produto" class="form-control nome-validate" />
                    <div class="nome input-group-addon campo-erro" style="display:none;"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon">Descrição</span>
                    <input type="text" name="descricao" ng-model="Produto.Descricao" value="" placeholder="Produto X" class="form-control nome-validate" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">Quantidade</span>
                    <input type="number" name="quantidade" ng-model="Produto.Quantidade" value="" placeholder="99" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">Preço R$</span>
                    <input type="text" name="descricao" ng-model="Produto.Preco" id="money" class="form-control money" placeholder="99,90" value="0,00" />
                </div>
            </div>
            <div class="col-md-1">
                <div class="input-group">
                </div>
            </div>
            <div class="col-md-3">
                <input type="submit" name="submit" value="Salvar" class="form-control btn btn-primary" />
            </div>
        </div>
    </div>
</form>
<table class="table lista">
    <thead class="thead">
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody class="tbody">
        <tr ng-repeat="Produto in Produtos">
            <td>{{Produto.Nome}}</td>
            <td>{{Produto.Documento}}</td>
            <td>{{Produto.Endereco}}</td>
            <td>{{Produto.Acao}}</td>
        </tr>
    </tbody>
</table>