@{
    ViewBag.Title = "CCO Eletro - Fornecedores";
    ViewData["JsLink"] = "/Scripts/Views/fornecedor.js";
}


<div id="home" ng-controller="FornecedorController">
    <form action="#" method="post" id="form-novo" class="form">
        <div class="form-add-edit">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Nome</span>
                        <input type="text" name="nome" ng-model="Pessoa.Nome" placeholder="Nome do fornecedor" class="form-control nome-validate" />
                        <div class="nome input-group-addon campo-erro" style="display:none;"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Email</span>
                        <input type="text" ng-model="Pessoa.Email" placeholder="fornecedor@fornecedor.com" class="form-control nome-validate" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">DDD</span>
                        <input type="text" ng-model="Pessoa.Ddd" placeholder="81" class="form-control nome-validate" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">Fone</span>
                        <input type="text" ng-model="Pessoa.Telefone" placeholder="3033-2022" class="form-control nome-validate" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">CNPJ</span>
                        <input type="text" ng-model="Pessoa.Documento" placeholder="72.356.373/0001-00" class="form-control nome-validate" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">CEP</span>
                        <input type="number" ng-model="Pessoa.Endereco" placeholder="54160-660" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">Endereço</span>
                        <input type="number" ng-model="Pessoa.Endereco" placeholder="Rua R, 555" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">Bairro</span>
                        <input type="number" ng-model="Pessoa.Bairro" placeholder="Socorro" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">Cidade</span>
                        <input type="number" ng-model="Pessoa.Cidade" placeholder="Jaboatão" class="form-control" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">UF</span>
                        <input type="number" ng-model="Pessoa.Uf" placeholder="PE" class="form-control" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                    </div>
                </div>
                <div class="col-md-3">
                    <input type="submit" ng-click="adicionarFornecedor()" value="Salvar" class="form-control btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
    <table class="table lista">
        <thead class="thead">
            <tr>
                <th>Nome</th>
                <th>CNPJ</th>
                <th>Endereço</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr ng-repeat="Fornecedor in Fornecedores">
                <td>{{Fornecedor.Nome}}</td>
                <td>{{Fornecedor.Documento}}</td>
                <td>{{Fornecedor.Endereco}}</td>
                <td>{{Fornecedor.Acao}}</td>
            </tr>
        </tbody>
    </table>
</div>