@{
    ViewBag.Title = "CCO Eletro - Fornecedores";
}

<div id="fornecedores">
    <div class="produtos-dashboard">
        <table class="table lista">
            <thead class="thead">
                <tr>
                    <td>Nome</td>
                    <td>CNPJ</td>
                    <td>Endereço</td>
                    <td>Ação</td>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr>
                    <td>Samsung</td>
                    <td>72.356.373/0001-00</td>
                    <td>Rua R, 555, Natal - RN</td>
                    <td><a href="#" class="btn-add-edit" data-tipo="edit-fornecedor"><i class="fa fa-edit" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-close" aria-hidden="true"></i></a></td>
                </tr>
                <tr>
                    <td>Somy</td>
                    <td>66.860.480/0001-79</td>
                    <td>Rua Qualquer, 26, Recife - PE</td>
                    <td><a href="#" class="btn-add-edit" data-tipo="edit-fornecedor"><i class="fa fa-edit" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-close" aria-hidden="true"></i></a></td>
                </tr>
                <tr>
                    <td>Brastemp</td>
                    <td>37.437.771/0001-50</td>
                    <td>Rua do rio, 100, Caruaru - PE</td>
                    <td><a href="#" class="btn-add-edit" data-tipo="edit-fornecedor"><i class="fa fa-edit" aria-hidden="true"></i></a> <a href="#"><i class="fa fa-close" aria-hidden="true"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>