@{
    ViewBag.Title = "CCO Eletro - Fornecedores";
    ViewData["JsLink"] = "/Scripts/Views/fornecedor.js";
}


<div ng-controller="FornecedorController" class="conteudo-dashboard">
    <form name="myForm" ng-submit="adicionarFornecedor()" novalidate>
        <div class="form-add-edit">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Nome</span>
                        <input type="text" name="nome" ng-model="Pessoa.Nome" placeholder="Nome do fornecedor" class="form-control nome-validate" required />
                        <div class="nome input-group-addon campo-erro" style="display:none;"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Email</span>
                        <input type="email" name="email" ng-model="Pessoa.Email" placeholder="fornecedor@fornecedor.com" class="form-control email-validate" required />
                        <div class="email input-group-addon campo-erro" style="display:none;"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">DDD</span>
                        <input type="text" name="ddd" ng-model="Pessoa.Ddd" placeholder="81" class="form-control ddd-validate" required drt-numerico />
                        <div class="ddd input-group-addon campo-erro" style="display:none;"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">Fone</span>
                        <input type="text" name="telefone" ng-model="Pessoa.Telefone" placeholder="3033-2022" class="form-control telefone-validate" required drt-numerico />
                        <div class="telefone input-group-addon campo-erro" style="display:none;"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">CNPJ</span>
                        <input type="text" name="documento" ng-model="Pessoa.Documento" placeholder="72.356.373/0001-00" class="form-control documento-validate" drt-numerico />
                        <div class="documento input-group-addon campo-erro" style="display:none;"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">CEP</span>
                        <input type="text" name="cep" id="cep" ng-model="Pessoa.Cep" onblur="pesquisacep(this.value);" placeholder="54160-660" class="cep-control cep-validate" drt-numerico />
                        <div class="cep input-group-addon campo-erro" style="display:none;"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">Endereço</span>
                        <input type="text" name="endereco" id="rua" ng-model="Pessoa.Endereco" placeholder="Rua R, 555" readonly class="form-control endereco-validate" />
                        <div class="endereco input-group-addon campo-erro" style="display:none;"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">Bairro</span>
                        <input type="text" name="bairro" id="bairro" ng-model="Pessoa.Bairro" placeholder="Socorro" readonly class="form-control bairro-validate" />
                        <div class="bairro input-group-addon campo-erro" style="display:none;"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">Cidade</span>
                        <input type="text" name="cidade" id="cidade" ng-model="Pessoa.Municipio.Nome" placeholder="Jaboatão" readonly class="form-control cidade-validate" />
                        <input type="hidden" id="ibge" value="" ng-model="Pessoa.Municipio.Id" />
                        <div class="cidade input-group-addon campo-erro" style="display:none;"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">UF</span>
                        <input type="text" name="uf" id="uf" ng-model="Pessoa.Municipio.Estado.Uf" placeholder="PE" readonly class="form-control uf-validate" />
                        <div class="uf input-group-addon campo-erro" style="display:none;"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                    </div>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                </div>
                <div class="col-md-3">
                    <button type="button" class="form-control btn btn-danger" ng-click="cancelarAlteracao()" ng-show="!OpSalvar">Cancelar Alteração</button>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="form-control btn btn-primary" ng-show="OpSalvar">Salvar</button>
                    <button type="submit" class="form-control btn btn-primary" ng-show="!OpSalvar">Alterar</button>
                </div>
            </div>
        </div>
    </form>

    <!-- Table Area-->
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CNPJ</th>
                    <th>Endereço</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="f in (Fornecedores | orderBy:'Nome':true).slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))" class="text-center">
                    <td>{{f.Nome}}</td>
                    <td>{{f.Documento}}</td>
                    <td>{{f.Endereco}}</td>
                    <!--<td><span ng-click="selecionarFornecedor(f.Id)" class="glyphicon glyphicon-pencil action-icon" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Editar Fornecedor"></span></td>-->
                    <td>
                        <a href="#" ng-click="selecionarFornecedor(f.Id)"><i class="fa fa-edit" aria-hidden="true"></i></a>
                        <a href="#" ng-click="removerFornecedor(f.Id)"><i class="fa fa-close" aria-hidden="true"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <span id="no-result">Sua pesquisa não obteve resultados</span>
    </div>

    <br />

    <div class="col-lg-12 text-center">
        <nav>
            <uib-pagination total-items="totalItems" max-size="10" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></uib-pagination>
        </nav>
    </div>

</div>

