################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ControleEstoque/bin
/ControleEstoque/obj/Debug
/packages
