@{
    ViewBag.Title = "CCO Eletro - Vendas";
}

<div id="vendas">
    <div class="produtos-dashboard">
        <table class="table lista">
            <thead class="thead">
                <tr>
                    <td>Vendas</td>
                    <td>Cliente</td>
                    <td>Total</td>
                    <td>Ação</td>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr>
                    <td>55658</td>
                    <td>David Espinilo</td>
                    <td>R$900,00</td>
                    <td><a href="#"><i class="fa fa-times-circle" aria-hidden="true"></i></a></td>
                </tr>
                <tr>
                    <td>55657</td>
                    <td>Tercia Cristina</td>
                    <td>R$1200,00</td>
                    <td><a href="#"><i class="fa fa-times-circle" aria-hidden="true"></i></a></td>
                </tr>
                <tr>
                    <td>55654</td>
                    <td>Silvio Ronaldo</td>
                    <td>R$700,00</td>
                    <td><a href="#"><i class="fa fa-times-circle" aria-hidden="true"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>