
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Lib/Bootstrap/css/bootstrap.min.css" />
    <link href="~/Lib/Font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Css/style.css">
</head>

<body class="home" ng-app="App">
    <div class="container-fluid display-table" style="position: relative;">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo"><img src="~/Img/logo.png" alt="merkery_logo" class="hidden-xs hidden-sm"></div>
                <div class="navi">
                    <ul>
                        <li class="btn-menu btn-home" page="home"><a href="Home"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Home</span></a></li>
                        <li class="btn-menu btn-vendas" page="vendas"><a href="Venda"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Vendas</span></a></li>
                        <li class="btn-menu btn-clientes" page="clientes"><a href="Cliente"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Clientes</span></a></li>
                        <li class="btn-menu btn-produtos" page="produtos"><a href="Produto"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Produtos</span></a></li>
                        <li class="btn-menu btn-fornecedores" page="fornecedores"><a href="Fornecedor"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Fornecedores</span></a></li>
                        <li><a href="Configuracoes"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Configurações</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 display-table-cell v-align conteudo" pagina-atual="" style="background-color: #132856">
                <!-- AQUI IRÁ ENTRAR O CONTEÚDO ATUALIZADO PELO JAVASCRIPT -->
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/Lib/JQuery/jquery-3.1.1.min.js"></script>
    <script src="~/Lib/AngularJS/angular.min.js"></script>
    <script src="~/Lib/Ui-bootstrap/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script src="~/Lib/Bootstrap/js/bootstrap.min.js"></script>
    <script src="@ViewData["JsLink"]"></script>
    <script src="~/Lib/BuscaCep/busca-cep.js"></script>
    @*<script src="~/Scripts/diretivas.js"></script>*@

</body>


</html>
