@{
    ViewBag.Title = "CCO Eletro - Clientes";
    ViewData["JsLink"] = "/Scripts/Views/cliente.js";
}

<div ng-controller="ClienteController" class="conteudo-dashboard">
    <form action="#" method="post" id="form-novo" ng-submit="adicionarCliente()" class="form">
        <div class="form-add-edit">
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Nome</span>
                        <input type="text" name="nome" ng-model="Pessoa.Nome" placeholder="Nome do Cliente" id="nome" class="form-control nome-validate" />
                        <div class="nome input-group-addon campo-erro" style="display:none;"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Email</span>
                        <input type="email" name="email" ng-model="Pessoa.Email" placeholder="cliente@cliente.com" id="email" class="form-control email-validate" />
                        <div class="email input-group-addon campo-erro" style="display:none;"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">DDD</span>
                        <input type="number" name="ddd" ng-model="Pessoa.Ddd" placeholder="81" id="ddd" class="form-control ddd-validate" />
                        <div class="ddd input-group-addon campo-erro" style="display:none;"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">Fone</span>
                        <input type="number" name="telefone" ng-model="Pessoa.Telefone" placeholder="3033-2022" id="telefone" class="form-control telefone-validate" />
                        <div class="telefone input-group-addon campo-erro" style="display:none;"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">CPF</span>
                        <input type="number" name="documento" ng-model="Pessoa.Documento" placeholder="09284003440" id="documento" class="form-control documento-validate" />
                        <div class="documento input-group-addon campo-erro" style="display:none;"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">CEP</span>
                        <input type="number" name="cep" id="cep" ng-model="Pessoa.Cep" onblur="pesquisacep(this.value);" placeholder="54160-660" class="form-control cep-validate" />
                        <div class="cep input-group-addon campo-erro" style="display:none;"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">Endereço</span>
                        <input type="text" name="endereco" ng-model="Pessoa.Endereco" id="rua" class="form-control endereco-validate" placeholder="99,90" value="0,00" />
                        <div class="endereco input-group-addon campo-erro" style="display:none;"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">Bairro</span>
                        <input type="text" name="bairro" ng-model="Pessoa.Bairro" placeholder="Socorro" id="bairro" class="form-control bairro-validate" />
                        <div class="bairro input-group-addon campo-erro" style="display:none;"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">Cidade</span>
                        <input type="text" name="cidade" ng-model="Pessoa.Municipio.Nome" placeholder="Jaboatão" id="cidade" class="form-control cidade-validate" />
                        <div class="cidade input-group-addon campo-erro" style="display:none;"></div>
                        <input type="hidden" id="ibge" value="" ng-model="Pessoa.Municipio.Id" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon">UF</span>
                        <input type="text" name="uf" ng-model="Pessoa.Municipio.Estado.Uf" placeholder="PE" id="uf" class="form-control uf-validate" />
                        <div class="uf input-group-addon campo-erro" style="display:none;"></div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="input-group">
                    </div>
                </div>
                <div class="col-md-3">
                    <input type="submit" name="submit" value="Salvar" class="form-control btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
    <div class="table-responsive">
        <table class="table lista table-bordered">
            <thead class="thead">
                <tr>
                    <td>Nome</td>
                    <td>Nascimento</td>
                    <td>Documento</td>
                    <td>Ação</td>
                </tr>
            </thead>
            <tbody class="tbody">
                <tr ng-repeat="c in (Clientes | orderBy:'Nome':true).slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))" class="text-center">
                    <td>{{c.Nome}}</td>
                    <td>{{c.Documento}}</td>
                    <td>{{c.Endereco}}, {{c.Bairro}}, {{c.Municipio.Nome}}</td>
                    <!--<td><span ng-click="selecionarCliente(c.Id)" class="glyphicon glyphicon-pencil action-icon" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Editar Fornecedor"></span></td>-->
                    <td>
                        <a href="#" ng-click="selecionarCliente(c.Id)"><i class="fa fa-edit" aria-hidden="true"></i></a>
                        <a href="#" ng-click="removerCliente(c.Id)"><i class="fa fa-close" aria-hidden="true"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <span id="no-result">Sua pesquisa não obteve resultados</span>
    </div>

    <br />

    <div class="col-lg-12 text-center">
        <nav>
            <uib-pagination total-items="totalItems" max-size="10" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></uib-pagination>
        </nav>
    </div>
</div>