@{
    ViewBag.Title = "CCO Eletro - Home";
    ViewData["JsLink"] = "~/Scripts/Views/home.js";
}

<div id="home" ng-controller="HomeController">
    <div class="user-dashboard">
        <div class="row">
            <div class="list-inline dash-content">
                <div class="produtos bloco1 col-md-6 dash">
                    <div class="titulo-dash">Vendas</div>
                    <ul class="list-inline">
                        <li class="btn-dash btn-menu" page="vendas"><button class="btn btn-primary btn-dash"><i class="fa fa-list ico-home" aria-hidden="true"></i><br>Listar</button></li>
                        <li class="btn-dash btn-add-edit" data-tipo="add-venda"><button class="btn btn-primary btn-dash"><i class="fa fa-plus-square-o ico-home" aria-hidden="true"></i><br>Adicionar</button></li>
                    </ul>
                </div>
                <div class="produtos bloco1 col-md-6 dash">
                    <div class="titulo-dash">Produtos</div>
                    <ul class="list-inline">
                        <li class="btn-dash btn-menu" page="produtos"><button class="btn btn-primary btn-dash"><i class="fa fa-list ico-home" aria-hidden="true"></i><br>Listar</button></li>
                        <li class="btn-dash btn-add-edit" data-tipo="add-produto"><button class="btn btn-primary btn-dash"><i class="fa fa-plus-square-o ico-home" aria-hidden="true"></i><br>Adicionar</button></li>
                    </ul>
                </div>
                <div class="produtos bloco1 col-md-6 dash">
                    <div class="titulo-dash">Clientes</div>
                    <ul class="list-inline">
                        <li class="btn-dash btn-menu" page="clientes"><button class="btn btn-primary btn-dash"><i class="fa fa-list ico-home" aria-hidden="true"></i><br>Listar</button></li>
                        <li class="btn-dash btn-add-edit" data-tipo="add-cliente"><button class="btn btn-primary btn-dash"><i class="fa fa-plus-square-o ico-home" aria-hidden="true"></i><br>Adicionar</button></li>
                    </ul>
                </div>
                <div class="produtos bloco1 col-md-6 dash">
                    <div class="titulo-dash">Fornecedores</div>
                    <ul class="list-inline">
                        <li class="btn-dash btn-menu" page="fornecedores"><button class="btn btn-primary btn-dash"><i class="fa fa-list ico-home" aria-hidden="true"></i><br>Listar</button></li>
                        <li class="btn-dash btn-add-edit" data-tipo="add-fornecedor"><button class="btn btn-primary btn-dash"><i class="fa fa-plus-square-o ico-home" aria-hidden="true"></i><br>Adicionar</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

